/*IMPORT FONT*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/*VARIABLES*/
/*GENERAL*/
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  outline: none;
  margin-right: 10px;
}

.orders table {
  border: 1px solid black;
  padding: 5px;
}

.orders table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
  text-align: center;
}

.orders table tr td {
  margin-right: 20px;
  text-align: center;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3em;
  color: #006AF8;
}

h3 {
  color: #006AF8;
  margin-right: 10px;
}

.all-v, .form {
  height: 100vh;
  width: 100vw;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col, .cart, .user .user-cart, .user .player-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center, .product-template {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*CLASSES*/
nav {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  color: #006AF8;
  font-size: 1.3em;
  -webkit-box-shadow: 0px 6px 10px #00000010;
          box-shadow: 0px 6px 10px #00000010;
}

nav #navigation {
  display: none;
}

nav p {
  cursor: pointer;
}

nav p a {
  color: #006AF8;
  text-decoration: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul li {
  margin-left: 50px;
}

nav ul li:first-child {
  margin-left: 350px;
}

nav ul li a {
  color: #006AF8;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00B122;
}

nav ul li .burger {
  margin-right: 20px;
  display: none;
}

#navigation {
  display: none;
}

.index {
  background-image: url("../images/accueil.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.index .index-content {
  margin-right: 700px;
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
}

.index .index-content h2 {
  width: 550px;
  text-align: left;
  font-size: 2.3rem;
}

.index .index-content .sign {
  padding-left: 22px;
  margin-top: 20px;
}

.index .index-content .sign a {
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
}

.index .index-content .sign a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#up {
  position: absolute;
  top: 0;
}

.up {
  position: fixed;
  top: 700px;
  left: 1350px;
  z-index: 400;
  color: #006AF8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.up:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo {
  font-size: 1.5em;
}

.searchbar {
  padding: 8px;
  width: 300px;
  height: 40px;
  border: 2px solid #006AF8;
  border-radius: 20px;
}

.searchbar:focus {
  border: 2px solid #00B122;
}

.img-product {
  padding: 0;
  width: 230px;
  height: 230px;
}

.img-product img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 15px #00000010;
          box-shadow: 0px 3px 15px #00000010;
}

.img-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-user:hover {
  border: 2px solid #006AF8;
}

.btn-see, .btn-update, .btn-buy {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #006AF8;
  text-decoration: none;
}

.btn-see:hover, .btn-update:hover, .btn-buy:hover {
  background-color: #00B122;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-update:hover {
  background-color: orange;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-buy:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.add-to-cart {
  background-color: black;
  border: none;
  color: white;
  font-size: 1.3em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.add-to-cart:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
}

.supp-from-cart {
  background-color: #E80000;
  border: none;
  color: white;
  font-size: 1.3em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.supp-from-cart:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
          animation: rotate-center 0.6s ease-in-out both;
}

.content {
  width: 100%;
  margin-top: 130px;
}

.categories {
  width: 100%;
}

.categories .categories-ul {
  border: 2px solid #006AF8;
  height: 100px;
  max-width: 450px;
  border-radius: 50px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
}

.categories .categories-ul li {
  cursor: pointer;
  padding: 10px;
  border-radius: 70px;
  margin: 20px;
  -webkit-box-shadow: 0px 1px 8px #00000010;
          box-shadow: 0px 1px 8px #00000010;
}

.categories .categories-ul li:hover {
  -webkit-box-shadow: inset 0px 1px 8px #00000010;
          box-shadow: inset 0px 1px 8px #00000010;
}

.categories .categories-ul li .active {
  -webkit-box-shadow: inset 0px 1px 8px #00000010;
          box-shadow: inset 0px 1px 8px #00000010;
}

.categories .categories-ul li a {
  text-align: center;
  color: #006AF8;
  text-decoration: none;
}

.categories .categories-ul li a h3 {
  margin: 0px;
}

.categories .categories-ul li a .icon {
  margin: 0px;
  height: 30px;
  width: 30px;
}

.cart {
  position: fixed;
  top: 100px;
  left: 0px;
  margin-top: 50px;
  margin-left: 70px;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 27px #00000010;
          box-shadow: 0px 5px 27px #00000010;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: scroll;
  height: 470px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.cart::-webkit-scrollbar {
  width: 0 !important;
}

.cart:hover {
  -webkit-box-shadow: inset 0px 5px 27px #00000010;
          box-shadow: inset 0px 5px 27px #00000010;
}

.cart .cart-title {
  position: absolute;
  z-index: 444;
}

.cart .cart-title h2 {
  font-size: 1.2rem;
  text-align: center;
}

.cart .cart-title hr {
  margin: 20px;
}

.cart .cart-content {
  margin-top: 90px;
}

.cart .cart-content li {
  margin-bottom: 20px;
}

.product-template {
  padding: 20px;
  width: 250px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5%;
}

.product-template .product-name {
  margin: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-template .product-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-template .icon {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

.product-template:hover > .img-product > img {
  -webkit-box-shadow: inset 0px 3px 15px #00000010;
          box-shadow: inset 0px 3px 15px #00000010;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.desc {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25rem;
  width: 100%;
  height: 83.5vh;
  margin-left: 50px;
}

.desc h1 {
  font-size: 6em;
  margin-bottom: 20px;
}

.desc h2 {
  padding-right: 400px;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.desc .btn-see, .desc .btn-update, .desc .btn-buy {
  width: 170px;
  padding: 20px;
  border-radius: 50px;
}

.desc .price {
  font-size: 4em;
}

.form {
  z-index: 0;
  text-align: center;
}

.form h1 {
  margin-bottom: 50px;
}

.form .user-form-img {
  position: absolute;
  top: 57%;
  width: 400px;
  z-index: 100;
}

.form .user-form-img2 {
  position: absolute;
  top: 36.5%;
  left: 15%;
  width: 300px;
  z-index: 100;
}

.form form input {
  margin-bottom: 30px;
  width: 300px;
  height: 70px;
  border-radius: 50px;
  border: none;
  text-align: center;
  -webkit-box-shadow: 0px 6px 10px #00000010;
          box-shadow: 0px 6px 10px #00000010;
}

.form form input:hover {
  -webkit-box-shadow: inset 0px 6px 10px #00000010;
          box-shadow: inset 0px 6px 10px #00000010;
}

.form form p {
  margin-top: 20px;
  font-size: 0.8em;
  color: #006AF8;
}

.form form p a {
  margin-left: 10px;
  z-index: 999;
  color: #006AF8;
  text-decoration: none;
}

.form form p a:hover {
  color: #00B122;
}

.form .btn-see, .form .btn-update, .form .btn-buy {
  font-size: 1.2em;
}

.form .btn-see:hover, .form .btn-update:hover, .form .btn-buy:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.signIn-form {
  -webkit-box-shadow: 0px 6px 10px #00000010;
          box-shadow: 0px 6px 10px #00000010;
  padding: 50px;
  border-radius: 30px;
}

.signIn-form form .a-button {
  color: #006AF8;
  text-decoration: none;
}

.signIn-form form .a-button:hover {
  color: #00B122;
}

.signUp-form {
  -webkit-box-shadow: 0px 6px 10px #00000010;
          box-shadow: 0px 6px 10px #00000010;
  padding: 30px;
  border-radius: 30px;
  margin-top: 70px;
}

.signUp-form form input {
  margin-bottom: 30px;
  width: 400px;
  height: 50px;
  border-radius: 50px;
  border: none;
  text-align: center;
  -webkit-box-shadow: 0px 6px 10px #00000010;
          box-shadow: 0px 6px 10px #00000010;
}

.signUp-form form input:hover {
  -webkit-box-shadow: inset 0px 6px 10px #00000010;
          box-shadow: inset 0px 6px 10px #00000010;
}

.signUp-form form p {
  margin-top: 20px;
  font-size: 0.8em;
  color: #006AF8;
}

.signUp-form form p a {
  margin-left: 10px;
  color: #006AF8;
  text-decoration: none;
}

.signUp-form form p a:hover {
  color: #00B122;
}

.signUp-form .btn-see, .signUp-form .btn-update, .signUp-form .btn-buy {
  font-size: 1.2em;
}

.signUp-form .btn-see:hover, .signUp-form .btn-update:hover, .signUp-form .btn-buy:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.error {
  font-size: 15rem;
}

.user .user-cart {
  position: fixed;
  top: 100px;
  left: 950px;
  margin-top: 50px;
  margin-left: 70px;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 27px #00000010;
          box-shadow: 0px 5px 27px #00000010;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: scroll;
  height: 520px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user .user-cart::-webkit-scrollbar {
  width: 0 !important;
}

.user .user-cart:hover {
  -webkit-box-shadow: inset 0px 5px 27px #00000010;
          box-shadow: inset 0px 5px 27px #00000010;
}

.user .user-cart .cart-title {
  position: absolute;
  z-index: 444;
}

.user .user-cart .cart-title h2 {
  font-size: 1.2rem;
  text-align: center;
}

.user .user-cart .cart-title hr {
  margin: 20px;
}

.user .user-cart .cart-content {
  margin-top: 90px;
}

.user .user-cart .cart-content li {
  margin-bottom: 20px;
}

.user .user-img {
  -webkit-box-shadow: 0px 3px 15px #00000010;
          box-shadow: 0px 3px 15px #00000010;
  margin-top: 150px;
  margin-left: 70px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user .user-info h2 {
  font-size: 1.2em;
  margin-top: 180px;
  margin-left: 20px;
}

.user .user-info h3 {
  margin-left: 20px;
}

.user .player-list {
  position: fixed;
  top: 100px;
  left: 450px;
  margin-top: 50px;
  margin-left: 70px;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 27px #00000010;
          box-shadow: 0px 5px 27px #00000010;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-y: scroll;
  height: 520px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user .player-list::-webkit-scrollbar {
  width: 0 !important;
}

.user .player-list:hover {
  -webkit-box-shadow: inset 0px 5px 27px #00000010;
          box-shadow: inset 0px 5px 27px #00000010;
}

.user .player-list .cart-title {
  position: absolute;
  z-index: 444;
}

.user .player-list .cart-title h2 {
  font-size: 1.2rem;
  text-align: center;
}

.user .player-list .cart-title hr {
  margin: 20px;
}

.user .player-list .cart-content {
  margin-top: 90px;
}

.user .player-list .cart-content li {
  margin-bottom: 20px;
}

.btn-deco {
  text-align: center;
  background-color: #E80000;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}

.btn-deco:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-cart {
  margin-bottom: 20px;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 70px;
  width: 100vw;
  background-color: #A0A0A0;
  height: 60px;
  color: white;
}

.a-propos {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 3em;
}

.a-propos h2 {
  width: 500px;
  padding: 20px;
  font-size: 2em;
}

.add-player {
  height: 100vh;
  width: 100vw;
}

.add-player form {
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.add-player form h2 {
  margin-bottom: 20px;
}

.add-player form select {
  margin-bottom: 20px;
}

.add-player form label {
  margin-bottom: 20px;
}

.add-player form input {
  margin-bottom: 30px;
}

.add-player form textarea {
  margin-bottom: 30px;
}

/*ANIMATIONS*/
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
  nav p {
    margin-left: 20px;
  }
  nav ul li {
    margin-left: 30px;
  }
  nav ul li:first-child {
    margin-left: 50px;
  }
  nav ul li:nth-child(5) {
    margin-right: 20px;
  }
  .index {
    background-image: url("../images/accueil.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .index .index-content {
    height: 100vh;
    width: 700px;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 30px;
  }
  .index .index-content h2 {
    width: 100%;
    text-align: left;
    font-size: 2.3rem;
  }
  .index .index-content .sign {
    margin-top: 20px;
  }
  .index .index-content .sign a {
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
  }
  .index .index-content .sign a:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .categories {
    width: 90%;
  }
  .categories .categories-ul {
    border: 2px solid #006AF8;
    max-width: 450px;
    border-radius: 50px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .categories .categories-ul li {
    cursor: pointer;
    padding: 10px;
    border-radius: 70px;
    margin: 20px;
    -webkit-box-shadow: 0px 1px 8px #00000010;
            box-shadow: 0px 1px 8px #00000010;
  }
  .categories .categories-ul li:hover {
    -webkit-box-shadow: inset 0px 1px 8px #00000010;
            box-shadow: inset 0px 1px 8px #00000010;
  }
  .categories .categories-ul li .active {
    -webkit-box-shadow: inset 0px 1px 8px #00000010;
            box-shadow: inset 0px 1px 8px #00000010;
  }
  .categories .categories-ul li a {
    text-align: center;
    color: #006AF8;
    text-decoration: none;
  }
  .categories .categories-ul li a h3 {
    margin: 0px;
  }
  .categories .categories-ul li a .icon {
    margin: 10px;
    height: 30px;
    width: 30px;
  }
  .user {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user .user-cart {
    position: static;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 27px #00000010;
            box-shadow: 0px 5px 27px #00000010;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: scroll;
    height: 520px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user .user-cart::-webkit-scrollbar {
    width: 0 !important;
  }
  .user .user-cart:hover {
    -webkit-box-shadow: inset 0px 5px 27px #00000010;
            box-shadow: inset 0px 5px 27px #00000010;
  }
  .user .user-cart .cart-title {
    z-index: 444;
  }
  .user .user-cart .cart-title h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .user .user-cart .cart-title hr {
    margin: 20px;
  }
  .user .user-cart .cart-content {
    margin-top: 90px;
  }
  .user .user-cart .cart-content li {
    margin-bottom: 20px;
  }
  .user .user-img {
    -webkit-box-shadow: 0px 3px 15px #00000010;
            box-shadow: 0px 3px 15px #00000010;
    margin-top: 150px;
    margin-left: 70px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .user .user-info h2 {
    font-size: 1.2em;
    margin-top: 180px;
    margin-left: 20px;
  }
  .user .user-info h3 {
    margin-left: 20px;
  }
  .user .player-list {
    position: static;
    margin-top: 50px;
    margin-left: 0px;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 27px #00000010;
            box-shadow: 0px 5px 27px #00000010;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: scroll;
    height: 520px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user .player-list::-webkit-scrollbar {
    width: 0 !important;
  }
  .user .player-list:hover {
    -webkit-box-shadow: inset 0px 5px 27px #00000010;
            box-shadow: inset 0px 5px 27px #00000010;
  }
  .user .player-list .cart-title {
    position: absolute;
    z-index: 444;
  }
  .user .player-list .cart-title h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .user .player-list .cart-title hr {
    margin: 20px;
  }
  .user .player-list .cart-content {
    margin-top: 90px;
  }
  .user .player-list .cart-content li {
    margin-bottom: 20px;
  }
  .a-propos .undraw {
    display: none;
  }
}

@media (max-width: 1000px) {
  nav p {
    margin-left: 20px;
  }
  nav ul li {
    margin-left: 30px;
  }
  nav ul li:first-child {
    margin-left: 50px;
  }
  nav ul li:nth-child(5) {
    margin-right: 20px;
  }
  .index {
    background-image: url("../images/accueil.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .index .index-content {
    height: 100vh;
    width: 700px;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 30px;
  }
  .index .index-content h2 {
    width: 100%;
    text-align: left;
    font-size: 2.3rem;
  }
  .index .index-content .sign {
    margin-top: 20px;
  }
  .index .index-content .sign a {
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
  }
  .index .index-content .sign a:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .categories {
    width: 90%;
  }
  .categories .categories-ul {
    border: 2px solid #006AF8;
    max-width: 450px;
    border-radius: 50px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .categories .categories-ul li {
    cursor: pointer;
    padding: 10px;
    border-radius: 70px;
    margin: 20px;
    -webkit-box-shadow: 0px 1px 8px #00000010;
            box-shadow: 0px 1px 8px #00000010;
  }
  .categories .categories-ul li:hover {
    -webkit-box-shadow: inset 0px 1px 8px #00000010;
            box-shadow: inset 0px 1px 8px #00000010;
  }
  .categories .categories-ul li .active {
    -webkit-box-shadow: inset 0px 1px 8px #00000010;
            box-shadow: inset 0px 1px 8px #00000010;
  }
  .categories .categories-ul li a {
    text-align: center;
    color: #006AF8;
    text-decoration: none;
  }
  .categories .categories-ul li a h3 {
    margin: 0px;
  }
  .categories .categories-ul li a .icon {
    margin: 10px;
    height: 30px;
    width: 30px;
  }
  .user .user-cart {
    position: static;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 50px;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 27px #00000010;
            box-shadow: 0px 5px 27px #00000010;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: scroll;
    height: 520px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user .user-cart::-webkit-scrollbar {
    width: 0 !important;
  }
  .user .user-cart:hover {
    -webkit-box-shadow: inset 0px 5px 27px #00000010;
            box-shadow: inset 0px 5px 27px #00000010;
  }
  .user .user-cart .cart-title {
    position: relative;
    z-index: 444;
  }
  .user .user-cart .cart-title h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .user .user-cart .cart-title hr {
    margin: 20px;
  }
  .user .user-cart .cart-content {
    margin-top: 0px;
  }
  .user .user-cart .cart-content li {
    margin-bottom: 20px;
  }
  .user .user-img {
    -webkit-box-shadow: 0px 3px 15px #00000010;
            box-shadow: 0px 3px 15px #00000010;
    margin-top: 150px;
    margin-left: 70px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .user .user-info h2 {
    font-size: 1.2em;
    margin-top: 0px;
    margin-left: 20px;
  }
  .user .user-info h3 {
    margin-left: 20px;
  }
  .user .player-list {
    position: static;
    margin-top: 50px;
    margin-left: 0px;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 27px #00000010;
            box-shadow: 0px 5px 27px #00000010;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: scroll;
    height: 520px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user .player-list::-webkit-scrollbar {
    width: 0 !important;
  }
  .user .player-list:hover {
    -webkit-box-shadow: inset 0px 5px 27px #00000010;
            box-shadow: inset 0px 5px 27px #00000010;
  }
  .user .player-list .cart-title {
    position: relative;
    z-index: 444;
  }
  .user .player-list .cart-title h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .user .player-list .cart-title hr {
    margin: 20px;
  }
  .user .player-list .cart-content {
    margin-top: 0px;
  }
  .user .player-list .cart-content li {
    margin-bottom: 20px;
  }
}

@media (max-width: 930px) {
  nav p {
    margin-left: 20px;
  }
  nav ul li {
    margin-left: 30px;
  }
  nav ul li:first-child {
    margin-left: 50px;
  }
  nav ul li input {
    display: none;
  }
  .index {
    background-image: url("../images/accueil.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .index .index-content {
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 30px;
  }
  .index .index-content h2 {
    width: 100%;
    text-align: left;
    font-size: 2.3rem;
  }
  .index .index-content .sign {
    margin-top: 20px;
  }
  .index .index-content .sign a {
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
  }
  .index .index-content .sign a:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .form .user-form-img {
    display: none;
  }
  .form .user-form-img2 {
    display: none;
  }
  .desc h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  body {
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  #body.active {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  nav {
    padding-right: 70px;
    padding-left: 70px;
  }
  nav p {
    margin-left: 20px;
  }
  nav ul li {
    margin-left: 10px;
  }
  nav ul li:first-child {
    margin-left: 50px;
  }
  nav ul li:nth-child(2) {
    display: none;
  }
  nav ul li:nth-child(3) {
    display: none;
  }
  nav ul li:nth-child(4) {
    margin-right: 0;
  }
  nav ul li input {
    display: none;
  }
  nav ul li .menu {
    display: none;
  }
  nav ul li .burger {
    margin-right: 20px;
    display: block;
  }
  #navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #006AF8;
    z-index: 999;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    place-items: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform: translate(400px);
            transform: translate(400px);
  }
  #navigation #burger {
    color: white;
    position: absolute;
    font-size: 2em;
    top: 25px;
    right: 50px;
  }
  #navigation ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navigation ul li {
    list-style: none;
    margin: 20px;
  }
  #navigation ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
  }
  #navigation.active {
    right: 0;
  }
  .up {
    display: none;
  }
  .index {
    background-image: none;
  }
  .index .index-content {
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 30px;
  }
  .index .index-content h2 {
    width: 100%;
    text-align: left;
    font-size: 2.3rem;
  }
  .index .index-content .sign {
    margin-top: 20px;
  }
  .index .index-content .sign a {
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50px;
  }
  .index .index-content .sign a:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .categories {
    width: 100%;
  }
  .categories .categories-ul {
    border: 2px solid #006AF8;
    max-width: 450px;
    border-radius: 50px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
/*# sourceMappingURL=style.css.map */